<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>six</key>
	<dict>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-21</integer>
	    <key>A</key>
	    <integer>-60</integer>
	</dict>
	<key>nine</key>
	<dict>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-21</integer>
	    <key>A</key>
	    <integer>-60</integer>
	</dict>
	<key>A</key>
	<dict>
	    <key>oe</key>
	    <integer>-34</integer>
	    <key>OE</key>
	    <integer>-60</integer>
	    <key>oslash</key>
	    <integer>-34</integer>
	    <key>odieresis</key>
	    <integer>-34</integer>
	    <key>otilde</key>
	    <integer>-34</integer>
	    <key>ocircumflex</key>
	    <integer>-34</integer>
	    <key>oacute</key>
	    <integer>-34</integer>
	    <key>ograve</key>
	    <integer>-34</integer>
	    <key>edieresis</key>
	    <integer>-34</integer>
	    <key>ecircumflex</key>
	    <integer>-34</integer>
	    <key>eacute</key>
	    <integer>-34</integer>
	    <key>egrave</key>
	    <integer>-34</integer>
	    <key>ae</key>
	    <integer>-34</integer>
	    <key>Oslash</key>
	    <integer>-60</integer>
	    <key>Odieresis</key>
	    <integer>-60</integer>
	    <key>Otilde</key>
	    <integer>-60</integer>
	    <key>Ocircumflex</key>
	    <integer>-60</integer>
	    <key>Oacute</key>
	    <integer>-60</integer>
	    <key>Ograve</key>
	    <integer>-60</integer>
	    <key>Ccedilla</key>
	    <integer>-60</integer>
	    <key>y</key>
	    <integer>-69</integer>
	    <key>w</key>
	    <integer>-34</integer>
	    <key>v</key>
	    <integer>-58</integer>
	    <key>q</key>
	    <integer>-23</integer>
	    <key>o</key>
	    <integer>-34</integer>
	    <key>e</key>
	    <integer>-34</integer>
	    <key>d</key>
	    <integer>-23</integer>
	    <key>c</key>
	    <integer>-34</integer>
	    <key>W</key>
	    <integer>-80</integer>
	    <key>Q</key>
	    <integer>-70</integer>
	    <key>O</key>
	    <integer>-60</integer>
	    <key>G</key>
	    <integer>-70</integer>
	    <key>D</key>
	    <integer>-70</integer>
	    <key>C</key>
	    <integer>-70</integer>
	    <key>six</key>
	    <integer>-60</integer>
	    <key>.notdef</key>
	    <integer>-34</integer>
	</dict>
	<key>B</key>
	<dict>
	    <key>x</key>
	    <integer>-26</integer>
	    <key>period</key>
	    <integer>-60</integer>
	    <key>comma</key>
	    <integer>-60</integer>
	</dict>
	<key>C</key>
	<dict>
	    <key>z</key>
	    <integer>93</integer>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-21</integer>
	    <key>A</key>
	    <integer>-70</integer>
	</dict>
	<key>D</key>
	<dict>
	    <key>period</key>
	    <integer>-115</integer>
	    <key>comma</key>
	    <integer>-100</integer>
	    <key>W</key>
	    <integer>-9</integer>
	    <key>V</key>
	    <integer>-20</integer>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-21</integer>
	    <key>A</key>
	    <integer>-70</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>period</key>
	    <integer>-180</integer>
	    <key>oe</key>
	    <integer>-23</integer>
	    <key>oslash</key>
	    <integer>-23</integer>
	    <key>odieresis</key>
	    <integer>-23</integer>
	    <key>otilde</key>
	    <integer>-23</integer>
	    <key>ocircumflex</key>
	    <integer>-23</integer>
	    <key>oacute</key>
	    <integer>-23</integer>
	    <key>ograve</key>
	    <integer>-23</integer>
	    <key>edieresis</key>
	    <integer>-23</integer>
	    <key>ecircumflex</key>
	    <integer>-23</integer>
	    <key>eacute</key>
	    <integer>-23</integer>
	    <key>egrave</key>
	    <integer>-23</integer>
	    <key>ae</key>
	    <integer>-23</integer>
	    <key>q</key>
	    <integer>-23</integer>
	    <key>o</key>
	    <integer>-23</integer>
	    <key>e</key>
	    <integer>-23</integer>
	    <key>d</key>
	    <integer>-23</integer>
	    <key>c</key>
	    <integer>-23</integer>
	    <key>.notdef</key>
	    <integer>-23</integer>
	</dict>
	<key>G</key>
	<dict>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-21</integer>
	    <key>A</key>
	    <integer>-70</integer>
	</dict>
	<key>I</key>
	<dict>
	    <key>oe</key>
	    <integer>-34</integer>
	    <key>oslash</key>
	    <integer>-34</integer>
	    <key>odieresis</key>
	    <integer>-34</integer>
	    <key>otilde</key>
	    <integer>-34</integer>
	    <key>ocircumflex</key>
	    <integer>-34</integer>
	    <key>oacute</key>
	    <integer>-34</integer>
	    <key>ograve</key>
	    <integer>-34</integer>
	    <key>edieresis</key>
	    <integer>-34</integer>
	    <key>ecircumflex</key>
	    <integer>-34</integer>
	    <key>eacute</key>
	    <integer>-34</integer>
	    <key>egrave</key>
	    <integer>-34</integer>
	    <key>ae</key>
	    <integer>-34</integer>
	    <key>y</key>
	    <integer>-57</integer>
	    <key>w</key>
	    <integer>-58</integer>
	    <key>v</key>
	    <integer>-57</integer>
	    <key>q</key>
	    <integer>-34</integer>
	    <key>o</key>
	    <integer>-34</integer>
	    <key>e</key>
	    <integer>-34</integer>
	    <key>d</key>
	    <integer>-34</integer>
	    <key>c</key>
	    <integer>-34</integer>
	    <key>a</key>
	    <integer>-34</integer>
	    <key>.notdef</key>
	    <integer>-34</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>oe</key>
	    <integer>-34</integer>
	    <key>OE</key>
	    <integer>-34</integer>
	    <key>oslash</key>
	    <integer>-34</integer>
	    <key>odieresis</key>
	    <integer>-34</integer>
	    <key>otilde</key>
	    <integer>-34</integer>
	    <key>ocircumflex</key>
	    <integer>-34</integer>
	    <key>oacute</key>
	    <integer>-34</integer>
	    <key>ograve</key>
	    <integer>-34</integer>
	    <key>edieresis</key>
	    <integer>-34</integer>
	    <key>ecircumflex</key>
	    <integer>-34</integer>
	    <key>eacute</key>
	    <integer>-34</integer>
	    <key>egrave</key>
	    <integer>-34</integer>
	    <key>ae</key>
	    <integer>-34</integer>
	    <key>Oslash</key>
	    <integer>-34</integer>
	    <key>Odieresis</key>
	    <integer>-34</integer>
	    <key>Otilde</key>
	    <integer>-34</integer>
	    <key>Ocircumflex</key>
	    <integer>-34</integer>
	    <key>Oacute</key>
	    <integer>-34</integer>
	    <key>Ograve</key>
	    <integer>-34</integer>
	    <key>Ccedilla</key>
	    <integer>-34</integer>
	    <key>q</key>
	    <integer>-34</integer>
	    <key>o</key>
	    <integer>-34</integer>
	    <key>e</key>
	    <integer>-34</integer>
	    <key>d</key>
	    <integer>-34</integer>
	    <key>c</key>
	    <integer>-34</integer>
	    <key>Q</key>
	    <integer>-34</integer>
	    <key>O</key>
	    <integer>-34</integer>
	    <key>G</key>
	    <integer>-34</integer>
	    <key>D</key>
	    <integer>-34</integer>
	    <key>C</key>
	    <integer>-34</integer>
	    <key>six</key>
	    <integer>-34</integer>
	    <key>.notdef</key>
	    <integer>-34</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>quoteright</key>
	    <integer>-80</integer>
	    <key>quotedblright</key>
	    <integer>-80</integer>
	    <key>W</key>
	    <integer>-65</integer>
	    <key>V</key>
	    <integer>-115</integer>
	    <key>T</key>
	    <integer>-99</integer>
	    <key>OE</key>
	    <integer>-50</integer>
	    <key>Oslash</key>
	    <integer>-50</integer>
	    <key>Odieresis</key>
	    <integer>-50</integer>
	    <key>Otilde</key>
	    <integer>-50</integer>
	    <key>Ocircumflex</key>
	    <integer>-50</integer>
	    <key>Oacute</key>
	    <integer>-50</integer>
	    <key>Ograve</key>
	    <integer>-50</integer>
	    <key>Ccedilla</key>
	    <integer>-50</integer>
	    <key>Q</key>
	    <integer>-50</integer>
	    <key>O</key>
	    <integer>-50</integer>
	    <key>G</key>
	    <integer>-50</integer>
	    <key>D</key>
	    <integer>-50</integer>
	    <key>C</key>
	    <integer>-50</integer>
	    <key>six</key>
	    <integer>-50</integer>
	</dict>
	<key>O</key>
	<dict>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-21</integer>
	    <key>A</key>
	    <integer>-60</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>x</key>
	    <integer>-14</integer>
	    <key>period</key>
	    <integer>-110</integer>
	    <key>comma</key>
	    <integer>-110</integer>
	    <key>X</key>
	    <integer>-84</integer>
	    <key>oe</key>
	    <integer>-81</integer>
	    <key>oslash</key>
	    <integer>-81</integer>
	    <key>odieresis</key>
	    <integer>-81</integer>
	    <key>otilde</key>
	    <integer>-81</integer>
	    <key>ocircumflex</key>
	    <integer>-81</integer>
	    <key>oacute</key>
	    <integer>-81</integer>
	    <key>ograve</key>
	    <integer>-81</integer>
	    <key>edieresis</key>
	    <integer>-81</integer>
	    <key>ecircumflex</key>
	    <integer>-81</integer>
	    <key>eacute</key>
	    <integer>-81</integer>
	    <key>egrave</key>
	    <integer>-81</integer>
	    <key>ae</key>
	    <integer>-81</integer>
	    <key>r</key>
	    <integer>-34</integer>
	    <key>q</key>
	    <integer>-81</integer>
	    <key>o</key>
	    <integer>-81</integer>
	    <key>e</key>
	    <integer>-81</integer>
	    <key>d</key>
	    <integer>-81</integer>
	    <key>c</key>
	    <integer>-81</integer>
	    <key>a</key>
	    <integer>-81</integer>
	    <key>.notdef</key>
	    <integer>-81</integer>
	</dict>
	<key>Q</key>
	<dict>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-21</integer>
	    <key>A</key>
	    <integer>-70</integer>
	</dict>
	<key>R</key>
	<dict>
	    <key>OE</key>
	    <integer>-25</integer>
	    <key>Oslash</key>
	    <integer>-25</integer>
	    <key>Odieresis</key>
	    <integer>-25</integer>
	    <key>Otilde</key>
	    <integer>-25</integer>
	    <key>Ocircumflex</key>
	    <integer>-25</integer>
	    <key>Oacute</key>
	    <integer>-25</integer>
	    <key>Ograve</key>
	    <integer>-25</integer>
	    <key>Ccedilla</key>
	    <integer>-25</integer>
	    <key>Q</key>
	    <integer>-25</integer>
	    <key>O</key>
	    <integer>-25</integer>
	    <key>G</key>
	    <integer>-25</integer>
	    <key>C</key>
	    <integer>-25</integer>
	    <key>six</key>
	    <integer>-25</integer>
	</dict>
	<key>S</key>
	<dict>
	    <key>y</key>
	    <integer>-23</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>w</key>
	    <integer>-44</integer>
	    <key>v</key>
	    <integer>-33</integer>
	    <key>period</key>
	    <integer>-30</integer>
	    <key>oe</key>
	    <integer>-58</integer>
	    <key>OE</key>
	    <integer>-21</integer>
	    <key>oslash</key>
	    <integer>-58</integer>
	    <key>odieresis</key>
	    <integer>-58</integer>
	    <key>otilde</key>
	    <integer>-58</integer>
	    <key>ocircumflex</key>
	    <integer>-58</integer>
	    <key>oacute</key>
	    <integer>-58</integer>
	    <key>ograve</key>
	    <integer>-58</integer>
	    <key>edieresis</key>
	    <integer>-58</integer>
	    <key>ecircumflex</key>
	    <integer>-58</integer>
	    <key>eacute</key>
	    <integer>-58</integer>
	    <key>egrave</key>
	    <integer>-58</integer>
	    <key>ae</key>
	    <integer>-58</integer>
	    <key>Oslash</key>
	    <integer>-21</integer>
	    <key>Odieresis</key>
	    <integer>-21</integer>
	    <key>Otilde</key>
	    <integer>-21</integer>
	    <key>Ocircumflex</key>
	    <integer>-21</integer>
	    <key>Oacute</key>
	    <integer>-21</integer>
	    <key>Ograve</key>
	    <integer>-21</integer>
	    <key>Ccedilla</key>
	    <integer>-21</integer>
	    <key>y</key>
	    <integer>-58</integer>
	    <key>w</key>
	    <integer>-69</integer>
	    <key>q</key>
	    <integer>-58</integer>
	    <key>o</key>
	    <integer>-58</integer>
	    <key>e</key>
	    <integer>-81</integer>
	    <key>d</key>
	    <integer>-58</integer>
	    <key>c</key>
	    <integer>-58</integer>
	    <key>a</key>
	    <integer>-23</integer>
	    <key>Q</key>
	    <integer>-21</integer>
	    <key>O</key>
	    <integer>-21</integer>
	    <key>G</key>
	    <integer>-21</integer>
	    <key>D</key>
	    <integer>-21</integer>
	    <key>C</key>
	    <integer>-21</integer>
	    <key>six</key>
	    <integer>-21</integer>
	    <key>.notdef</key>
	    <integer>-58</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>semicolon</key>
	    <integer>-80</integer>
	    <key>period</key>
	    <integer>-80</integer>
	    <key>comma</key>
	    <integer>-80</integer>
	    <key>colon</key>
	    <integer>-50</integer>
	    <key>oe</key>
	    <integer>-46</integer>
	    <key>OE</key>
	    <integer>-70</integer>
	    <key>oslash</key>
	    <integer>-46</integer>
	    <key>odieresis</key>
	    <integer>-46</integer>
	    <key>otilde</key>
	    <integer>-46</integer>
	    <key>ocircumflex</key>
	    <integer>-46</integer>
	    <key>oacute</key>
	    <integer>-46</integer>
	    <key>ograve</key>
	    <integer>-46</integer>
	    <key>edieresis</key>
	    <integer>-46</integer>
	    <key>ecircumflex</key>
	    <integer>-46</integer>
	    <key>eacute</key>
	    <integer>-46</integer>
	    <key>egrave</key>
	    <integer>-46</integer>
	    <key>ae</key>
	    <integer>-46</integer>
	    <key>Oslash</key>
	    <integer>-70</integer>
	    <key>Odieresis</key>
	    <integer>-70</integer>
	    <key>Otilde</key>
	    <integer>-70</integer>
	    <key>Ocircumflex</key>
	    <integer>-70</integer>
	    <key>Oacute</key>
	    <integer>-70</integer>
	    <key>Ograve</key>
	    <integer>-70</integer>
	    <key>Ccedilla</key>
	    <integer>-70</integer>
	    <key>y</key>
	    <integer>-58</integer>
	    <key>w</key>
	    <integer>-58</integer>
	    <key>v</key>
	    <integer>-58</integer>
	    <key>q</key>
	    <integer>-46</integer>
	    <key>o</key>
	    <integer>-46</integer>
	    <key>e</key>
	    <integer>-46</integer>
	    <key>d</key>
	    <integer>-46</integer>
	    <key>c</key>
	    <integer>-46</integer>
	    <key>a</key>
	    <integer>-34</integer>
	    <key>W</key>
	    <integer>-80</integer>
	    <key>Q</key>
	    <integer>-70</integer>
	    <key>O</key>
	    <integer>-70</integer>
	    <key>G</key>
	    <integer>-70</integer>
	    <key>D</key>
	    <integer>-70</integer>
	    <key>C</key>
	    <integer>-70</integer>
	    <key>six</key>
	    <integer>-70</integer>
	    <key>.notdef</key>
	    <integer>-46</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>oe</key>
	    <integer>-46</integer>
	    <key>OE</key>
	    <integer>-70</integer>
	    <key>oslash</key>
	    <integer>-46</integer>
	    <key>odieresis</key>
	    <integer>-46</integer>
	    <key>otilde</key>
	    <integer>-46</integer>
	    <key>ocircumflex</key>
	    <integer>-46</integer>
	    <key>oacute</key>
	    <integer>-46</integer>
	    <key>ograve</key>
	    <integer>-46</integer>
	    <key>edieresis</key>
	    <integer>-46</integer>
	    <key>ecircumflex</key>
	    <integer>-46</integer>
	    <key>eacute</key>
	    <integer>-46</integer>
	    <key>egrave</key>
	    <integer>-46</integer>
	    <key>ae</key>
	    <integer>-46</integer>
	    <key>Oslash</key>
	    <integer>-70</integer>
	    <key>Odieresis</key>
	    <integer>-70</integer>
	    <key>Otilde</key>
	    <integer>-70</integer>
	    <key>Ocircumflex</key>
	    <integer>-70</integer>
	    <key>Oacute</key>
	    <integer>-70</integer>
	    <key>Ograve</key>
	    <integer>-70</integer>
	    <key>Ccedilla</key>
	    <integer>-70</integer>
	    <key>y</key>
	    <integer>-69</integer>
	    <key>w</key>
	    <integer>-58</integer>
	    <key>v</key>
	    <integer>-58</integer>
	    <key>q</key>
	    <integer>-46</integer>
	    <key>o</key>
	    <integer>-46</integer>
	    <key>e</key>
	    <integer>-46</integer>
	    <key>d</key>
	    <integer>-46</integer>
	    <key>c</key>
	    <integer>-46</integer>
	    <key>a</key>
	    <integer>-34</integer>
	    <key>W</key>
	    <integer>-100</integer>
	    <key>V</key>
	    <integer>-100</integer>
	    <key>Q</key>
	    <integer>-70</integer>
	    <key>O</key>
	    <integer>-70</integer>
	    <key>G</key>
	    <integer>-70</integer>
	    <key>D</key>
	    <integer>-70</integer>
	    <key>C</key>
	    <integer>-70</integer>
	    <key>A</key>
	    <integer>-80</integer>
	    <key>six</key>
	    <integer>-70</integer>
	    <key>.notdef</key>
	    <integer>-46</integer>
	</dict>
	<key>X</key>
	<dict>
	    <key>OE</key>
	    <integer>-16</integer>
	    <key>Oslash</key>
	    <integer>-16</integer>
	    <key>Odieresis</key>
	    <integer>-16</integer>
	    <key>Otilde</key>
	    <integer>-16</integer>
	    <key>Ocircumflex</key>
	    <integer>-16</integer>
	    <key>Oacute</key>
	    <integer>-16</integer>
	    <key>Ograve</key>
	    <integer>-16</integer>
	    <key>Ccedilla</key>
	    <integer>-16</integer>
	    <key>Q</key>
	    <integer>-16</integer>
	    <key>O</key>
	    <integer>-16</integer>
	    <key>G</key>
	    <integer>-16</integer>
	    <key>D</key>
	    <integer>-16</integer>
	    <key>C</key>
	    <integer>-16</integer>
	    <key>six</key>
	    <integer>-16</integer>
	</dict>
	<key>Y</key>
	<dict>
	    <key>oe</key>
	    <integer>-69</integer>
	    <key>OE</key>
	    <integer>-21</integer>
	    <key>oslash</key>
	    <integer>-69</integer>
	    <key>odieresis</key>
	    <integer>-69</integer>
	    <key>otilde</key>
	    <integer>-69</integer>
	    <key>ocircumflex</key>
	    <integer>-69</integer>
	    <key>oacute</key>
	    <integer>-69</integer>
	    <key>ograve</key>
	    <integer>-69</integer>
	    <key>edieresis</key>
	    <integer>-69</integer>
	    <key>ecircumflex</key>
	    <integer>-69</integer>
	    <key>eacute</key>
	    <integer>-69</integer>
	    <key>egrave</key>
	    <integer>-69</integer>
	    <key>ae</key>
	    <integer>-69</integer>
	    <key>Oslash</key>
	    <integer>-21</integer>
	    <key>Odieresis</key>
	    <integer>-21</integer>
	    <key>Otilde</key>
	    <integer>-21</integer>
	    <key>Ocircumflex</key>
	    <integer>-21</integer>
	    <key>Oacute</key>
	    <integer>-21</integer>
	    <key>Ograve</key>
	    <integer>-21</integer>
	    <key>Ccedilla</key>
	    <integer>-21</integer>
	    <key>q</key>
	    <integer>-69</integer>
	    <key>o</key>
	    <integer>-69</integer>
	    <key>g</key>
	    <integer>-81</integer>
	    <key>e</key>
	    <integer>-81</integer>
	    <key>d</key>
	    <integer>-93</integer>
	    <key>c</key>
	    <integer>-69</integer>
	    <key>a</key>
	    <integer>-34</integer>
	    <key>Q</key>
	    <integer>-21</integer>
	    <key>O</key>
	    <integer>-21</integer>
	    <key>G</key>
	    <integer>-21</integer>
	    <key>D</key>
	    <integer>-21</integer>
	    <key>C</key>
	    <integer>-21</integer>
	    <key>six</key>
	    <integer>-21</integer>
	    <key>.notdef</key>
	    <integer>-69</integer>
	</dict>
	<key>b</key>
	<dict>
	    <key>v</key>
	    <integer>-17</integer>
	    <key>period</key>
	    <integer>-90</integer>
	    <key>b</key>
	    <integer>-27</integer>
	    <key>z</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-60</integer>
	    <key>w</key>
	    <integer>-46</integer>
	    <key>v</key>
	    <integer>-46</integer>
	</dict>
	<key>c</key>
	<dict>
	    <key>oe</key>
	    <integer>-42</integer>
	    <key>oslash</key>
	    <integer>-42</integer>
	    <key>odieresis</key>
	    <integer>-42</integer>
	    <key>otilde</key>
	    <integer>-42</integer>
	    <key>ocircumflex</key>
	    <integer>-42</integer>
	    <key>oacute</key>
	    <integer>-42</integer>
	    <key>ograve</key>
	    <integer>-42</integer>
	    <key>edieresis</key>
	    <integer>-42</integer>
	    <key>ecircumflex</key>
	    <integer>-42</integer>
	    <key>eacute</key>
	    <integer>-42</integer>
	    <key>egrave</key>
	    <integer>-42</integer>
	    <key>ae</key>
	    <integer>-42</integer>
	    <key>y</key>
	    <integer>-40</integer>
	    <key>q</key>
	    <integer>-42</integer>
	    <key>o</key>
	    <integer>-42</integer>
	    <key>e</key>
	    <integer>-42</integer>
	    <key>d</key>
	    <integer>-42</integer>
	    <key>c</key>
	    <integer>-42</integer>
	    <key>.notdef</key>
	    <integer>-42</integer>
	</dict>
	<key>d</key>
	<dict>
	    <key>d</key>
	    <integer>-31</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>y</key>
	    <integer>-40</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>period</key>
	    <integer>-150</integer>
	    <key>f</key>
	    <integer>-74</integer>
	    <key>comma</key>
	    <integer>-130</integer>
	</dict>
	<key>k</key>
	<dict>
	    <key>oe</key>
	    <integer>-32</integer>
	    <key>oslash</key>
	    <integer>-32</integer>
	    <key>odieresis</key>
	    <integer>-32</integer>
	    <key>otilde</key>
	    <integer>-32</integer>
	    <key>ocircumflex</key>
	    <integer>-32</integer>
	    <key>oacute</key>
	    <integer>-32</integer>
	    <key>ograve</key>
	    <integer>-32</integer>
	    <key>edieresis</key>
	    <integer>-32</integer>
	    <key>ecircumflex</key>
	    <integer>-32</integer>
	    <key>eacute</key>
	    <integer>-32</integer>
	    <key>egrave</key>
	    <integer>-32</integer>
	    <key>ae</key>
	    <integer>-32</integer>
	    <key>q</key>
	    <integer>-32</integer>
	    <key>o</key>
	    <integer>-32</integer>
	    <key>e</key>
	    <integer>-32</integer>
	    <key>d</key>
	    <integer>-32</integer>
	    <key>c</key>
	    <integer>-32</integer>
	    <key>.notdef</key>
	    <integer>-32</integer>
	</dict>
	<key>l</key>
	<dict>
	    <key>w</key>
	    <integer>-2</integer>
	</dict>
	<key>m</key>
	<dict>
	    <key>x</key>
	    <integer>-18</integer>
	    <key>w</key>
	    <integer>-28</integer>
	    <key>v</key>
	    <integer>-36</integer>
	</dict>
	<key>o</key>
	<dict>
	    <key>z</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-60</integer>
	    <key>w</key>
	    <integer>-46</integer>
	    <key>v</key>
	    <integer>-46</integer>
	</dict>
	<key>p</key>
	<dict>
	    <key>z</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-60</integer>
	    <key>w</key>
	    <integer>-46</integer>
	    <key>v</key>
	    <integer>-46</integer>
	</dict>
	<key>r</key>
	<dict>
	    <key>oe</key>
	    <integer>-58</integer>
	    <key>oslash</key>
	    <integer>-44</integer>
	    <key>odieresis</key>
	    <integer>-44</integer>
	    <key>otilde</key>
	    <integer>-44</integer>
	    <key>ocircumflex</key>
	    <integer>-44</integer>
	    <key>oacute</key>
	    <integer>-44</integer>
	    <key>ograve</key>
	    <integer>-44</integer>
	    <key>ntilde</key>
	    <integer>-46</integer>
	    <key>edieresis</key>
	    <integer>-58</integer>
	    <key>ecircumflex</key>
	    <integer>-58</integer>
	    <key>eacute</key>
	    <integer>-44</integer>
	    <key>egrave</key>
	    <integer>-58</integer>
	    <key>ae</key>
	    <integer>-44</integer>
	    <key>germandbls</key>
	    <integer>-46</integer>
	    <key>x</key>
	    <integer>-46</integer>
	    <key>r</key>
	    <integer>-46</integer>
	    <key>q</key>
	    <integer>-44</integer>
	    <key>p</key>
	    <integer>-46</integer>
	    <key>o</key>
	    <integer>-44</integer>
	    <key>m</key>
	    <integer>-46</integer>
	    <key>k</key>
	    <integer>-46</integer>
	    <key>h</key>
	    <integer>-46</integer>
	    <key>e</key>
	    <integer>-58</integer>
	    <key>d</key>
	    <integer>-44</integer>
	    <key>c</key>
	    <integer>-58</integer>
	    <key>b</key>
	    <integer>-46</integer>
	    <key>.notdef</key>
	    <integer>-58</integer>
	</dict>
	<key>t</key>
	<dict>
	    <key>y</key>
	    <integer>-15</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>q</key>
	    <integer>-37</integer>
	    <key>d</key>
	    <integer>-39</integer>
	    <key>comma</key>
	    <integer>-120</integer>
	    <key>oe</key>
	    <integer>-50</integer>
	    <key>oslash</key>
	    <integer>-50</integer>
	    <key>odieresis</key>
	    <integer>-50</integer>
	    <key>otilde</key>
	    <integer>-50</integer>
	    <key>ocircumflex</key>
	    <integer>-50</integer>
	    <key>oacute</key>
	    <integer>-50</integer>
	    <key>ograve</key>
	    <integer>-50</integer>
	    <key>edieresis</key>
	    <integer>-50</integer>
	    <key>ecircumflex</key>
	    <integer>-50</integer>
	    <key>eacute</key>
	    <integer>-50</integer>
	    <key>egrave</key>
	    <integer>-50</integer>
	    <key>ae</key>
	    <integer>-50</integer>
	    <key>q</key>
	    <integer>-50</integer>
	    <key>o</key>
	    <integer>-50</integer>
	    <key>e</key>
	    <integer>-50</integer>
	    <key>d</key>
	    <integer>-50</integer>
	    <key>c</key>
	    <integer>-50</integer>
	    <key>a</key>
	    <integer>-23</integer>
	    <key>.notdef</key>
	    <integer>-50</integer>
	</dict>
	<key>w</key>
	<dict>
	    <key>q</key>
	    <integer>-41</integer>
	    <key>period</key>
	    <integer>-70</integer>
	    <key>d</key>
	    <integer>-55</integer>
	    <key>comma</key>
	    <integer>-120</integer>
	    <key>oe</key>
	    <integer>-50</integer>
	    <key>oslash</key>
	    <integer>-50</integer>
	    <key>odieresis</key>
	    <integer>-50</integer>
	    <key>otilde</key>
	    <integer>-50</integer>
	    <key>ocircumflex</key>
	    <integer>-50</integer>
	    <key>oacute</key>
	    <integer>-50</integer>
	    <key>ograve</key>
	    <integer>-50</integer>
	    <key>edieresis</key>
	    <integer>-50</integer>
	    <key>ecircumflex</key>
	    <integer>-50</integer>
	    <key>eacute</key>
	    <integer>-50</integer>
	    <key>egrave</key>
	    <integer>-50</integer>
	    <key>ae</key>
	    <integer>-50</integer>
	    <key>q</key>
	    <integer>-50</integer>
	    <key>o</key>
	    <integer>-50</integer>
	    <key>e</key>
	    <integer>-50</integer>
	    <key>d</key>
	    <integer>-50</integer>
	    <key>c</key>
	    <integer>-50</integer>
	    <key>a</key>
	    <integer>-23</integer>
	    <key>.notdef</key>
	    <integer>-50</integer>
	</dict>
	<key>x</key>
	<dict>
	    <key>d</key>
	    <integer>-24</integer>
	    <key>oe</key>
	    <integer>-60</integer>
	    <key>oslash</key>
	    <integer>-60</integer>
	    <key>odieresis</key>
	    <integer>-60</integer>
	    <key>otilde</key>
	    <integer>-60</integer>
	    <key>ocircumflex</key>
	    <integer>-60</integer>
	    <key>oacute</key>
	    <integer>-60</integer>
	    <key>ograve</key>
	    <integer>-60</integer>
	    <key>edieresis</key>
	    <integer>-60</integer>
	    <key>ecircumflex</key>
	    <integer>-60</integer>
	    <key>eacute</key>
	    <integer>-60</integer>
	    <key>egrave</key>
	    <integer>-60</integer>
	    <key>ae</key>
	    <integer>-60</integer>
	    <key>q</key>
	    <integer>-60</integer>
	    <key>o</key>
	    <integer>-60</integer>
	    <key>e</key>
	    <integer>-60</integer>
	    <key>d</key>
	    <integer>-60</integer>
	    <key>c</key>
	    <integer>-60</integer>
	    <key>.notdef</key>
	    <integer>-60</integer>
	</dict>
	<key>y</key>
	<dict>
	    <key>oe</key>
	    <integer>-68</integer>
	    <key>oslash</key>
	    <integer>-68</integer>
	    <key>odieresis</key>
	    <integer>-68</integer>
	    <key>otilde</key>
	    <integer>-68</integer>
	    <key>ocircumflex</key>
	    <integer>-68</integer>
	    <key>oacute</key>
	    <integer>-68</integer>
	    <key>ograve</key>
	    <integer>-68</integer>
	    <key>edieresis</key>
	    <integer>-68</integer>
	    <key>ecircumflex</key>
	    <integer>-68</integer>
	    <key>eacute</key>
	    <integer>-68</integer>
	    <key>egrave</key>
	    <integer>-68</integer>
	    <key>ae</key>
	    <integer>-34</integer>
	    <key>q</key>
	    <integer>-68</integer>
	    <key>p</key>
	    <integer>-81</integer>
	    <key>o</key>
	    <integer>-68</integer>
	    <key>e</key>
	    <integer>-68</integer>
	    <key>d</key>
	    <integer>-46</integer>
	    <key>c</key>
	    <integer>-34</integer>
	    <key>a</key>
	    <integer>-45</integer>
	    <key>.notdef</key>
	    <integer>-68</integer>
	</dict>
	<key>z</key>
	<dict>
	    <key>oe</key>
	    <integer>-41</integer>
	    <key>oslash</key>
	    <integer>-41</integer>
	    <key>odieresis</key>
	    <integer>-41</integer>
	    <key>otilde</key>
	    <integer>-41</integer>
	    <key>ocircumflex</key>
	    <integer>-41</integer>
	    <key>oacute</key>
	    <integer>-41</integer>
	    <key>ograve</key>
	    <integer>-41</integer>
	    <key>edieresis</key>
	    <integer>-41</integer>
	    <key>ecircumflex</key>
	    <integer>-41</integer>
	    <key>eacute</key>
	    <integer>-41</integer>
	    <key>egrave</key>
	    <integer>-41</integer>
	    <key>ae</key>
	    <integer>-41</integer>
	    <key>q</key>
	    <integer>-41</integer>
	    <key>o</key>
	    <integer>-41</integer>
	    <key>e</key>
	    <integer>-41</integer>
	    <key>d</key>
	    <integer>-41</integer>
	    <key>c</key>
	    <integer>-41</integer>
	    <key>.notdef</key>
	    <integer>-41</integer>
	</dict>
	<key>Ograve</key>
	<dict>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-21</integer>
	    <key>A</key>
	    <integer>-60</integer>
	</dict>
	<key>Oacute</key>
	<dict>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-21</integer>
	    <key>A</key>
	    <integer>-60</integer>
	</dict>
	<key>Ocircumflex</key>
	<dict>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-21</integer>
	    <key>A</key>
	    <integer>-60</integer>
	</dict>
	<key>Otilde</key>
	<dict>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-21</integer>
	    <key>A</key>
	    <integer>-60</integer>
	</dict>
	<key>Odieresis</key>
	<dict>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-21</integer>
	    <key>A</key>
	    <integer>-60</integer>
	</dict>
	<key>Oslash</key>
	<dict>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-70</integer>
	    <key>T</key>
	    <integer>-21</integer>
	    <key>A</key>
	    <integer>-60</integer>
	</dict>
	<key>ograve</key>
	<dict>
	    <key>z</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-60</integer>
	    <key>w</key>
	    <integer>-46</integer>
	    <key>v</key>
	    <integer>-46</integer>
	</dict>
	<key>oacute</key>
	<dict>
	    <key>z</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-60</integer>
	    <key>w</key>
	    <integer>-46</integer>
	    <key>v</key>
	    <integer>-46</integer>
	</dict>
	<key>ocircumflex</key>
	<dict>
	    <key>z</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-60</integer>
	    <key>w</key>
	    <integer>-46</integer>
	    <key>v</key>
	    <integer>-46</integer>
	</dict>
	<key>otilde</key>
	<dict>
	    <key>z</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-60</integer>
	    <key>w</key>
	    <integer>-46</integer>
	    <key>v</key>
	    <integer>-46</integer>
	</dict>
	<key>odieresis</key>
	<dict>
	    <key>z</key>
	    <integer>-49</integer>
	    <key>x</key>
	    <integer>-60</integer>
	    <key>w</key>
	    <integer>-46</integer>
	    <key>v</key>
	    <integer>-46</integer>
	</dict>
    </dict>
</plist>
