<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>uni0000</key>
	<string>uni0000.glif</string>
	<key>uni000D</key>
	<string>uni000d_.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>A</key>
	<string>a_.glif</string>
	<key>B</key>
	<string>b_.glif</string>
	<key>C</key>
	<string>c_.glif</string>
	<key>D</key>
	<string>d_.glif</string>
	<key>E</key>
	<string>e_.glif</string>
	<key>F</key>
	<string>f_.glif</string>
	<key>G</key>
	<string>g_.glif</string>
	<key>H</key>
	<string>h_.glif</string>
	<key>I</key>
	<string>i_.glif</string>
	<key>J</key>
	<string>j_.glif</string>
	<key>K</key>
	<string>k_.glif</string>
	<key>L</key>
	<string>l_.glif</string>
	<key>M</key>
	<string>m_.glif</string>
	<key>N</key>
	<string>n_.glif</string>
	<key>O</key>
	<string>o_.glif</string>
	<key>P</key>
	<string>p_.glif</string>
	<key>Q</key>
	<string>q_.glif</string>
	<key>R</key>
	<string>r_.glif</string>
	<key>S</key>
	<string>s_.glif</string>
	<key>T</key>
	<string>t_.glif</string>
	<key>U</key>
	<string>u_.glif</string>
	<key>V</key>
	<string>v_.glif</string>
	<key>W</key>
	<string>w_.glif</string>
	<key>X</key>
	<string>x_.glif</string>
	<key>Y</key>
	<string>y_.glif</string>
	<key>Z</key>
	<string>z_.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>uni00A0</key>
	<string>uni00a_0.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>uni00AD</key>
	<string>uni00a_d_.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>uni00B2</key>
	<string>uni00b_2.glif</string>
	<key>uni00B3</key>
	<string>uni00b_3.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>uni00B5</key>
	<string>uni00b_5.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>uni00B9</key>
	<string>uni00b_9.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>Agrave</key>
	<string>a_grave.glif</string>
	<key>Aacute</key>
	<string>a_acute.glif</string>
	<key>Acircumflex</key>
	<string>a_circumflex.glif</string>
	<key>Atilde</key>
	<string>a_tilde.glif</string>
	<key>Adieresis</key>
	<string>a_dieresis.glif</string>
	<key>Aring</key>
	<string>a_ring.glif</string>
	<key>AE</key>
	<string>a_e_.glif</string>
	<key>Ccedilla</key>
	<string>c_cedilla.glif</string>
	<key>Egrave</key>
	<string>e_grave.glif</string>
	<key>Eacute</key>
	<string>e_acute.glif</string>
	<key>Ecircumflex</key>
	<string>e_circumflex.glif</string>
	<key>Edieresis</key>
	<string>e_dieresis.glif</string>
	<key>Igrave</key>
	<string>i_grave.glif</string>
	<key>Iacute</key>
	<string>i_acute.glif</string>
	<key>Icircumflex</key>
	<string>i_circumflex.glif</string>
	<key>Idieresis</key>
	<string>i_dieresis.glif</string>
	<key>Eth</key>
	<string>e_th.glif</string>
	<key>Ntilde</key>
	<string>n_tilde.glif</string>
	<key>Ograve</key>
	<string>o_grave.glif</string>
	<key>Oacute</key>
	<string>o_acute.glif</string>
	<key>Ocircumflex</key>
	<string>o_circumflex.glif</string>
	<key>Otilde</key>
	<string>o_tilde.glif</string>
	<key>Odieresis</key>
	<string>o_dieresis.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>Oslash</key>
	<string>o_slash.glif</string>
	<key>Ugrave</key>
	<string>u_grave.glif</string>
	<key>Uacute</key>
	<string>u_acute.glif</string>
	<key>Ucircumflex</key>
	<string>u_circumflex.glif</string>
	<key>Udieresis</key>
	<string>u_dieresis.glif</string>
	<key>Yacute</key>
	<string>y_acute.glif</string>
	<key>Thorn</key>
	<string>t_horn.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>OE</key>
	<string>o_e_.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>Scaron</key>
	<string>s_caron.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>Ydieresis</key>
	<string>y_dieresis.glif</string>
	<key>Zcaron</key>
	<string>z_caron.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>uni0306</key>
	<string>uni0306.glif</string>
	<key>uni0E81</key>
	<string>uni0e_81.glif</string>
	<key>uni0E82</key>
	<string>uni0e_82.glif</string>
	<key>uni0E84</key>
	<string>uni0e_84.glif</string>
	<key>uni0E87</key>
	<string>uni0e_87.glif</string>
	<key>uni0E88</key>
	<string>uni0e_88.glif</string>
	<key>uni0E8A</key>
	<string>uni0e_8a_.glif</string>
	<key>uni0E8D</key>
	<string>uni0e_8d_.glif</string>
	<key>uni0E94</key>
	<string>uni0e_94.glif</string>
	<key>uni0E95</key>
	<string>uni0e_95.glif</string>
	<key>uni0E96</key>
	<string>uni0e_96.glif</string>
	<key>uni0E97</key>
	<string>uni0e_97.glif</string>
	<key>uni0E99</key>
	<string>uni0e_99.glif</string>
	<key>uni0E9A</key>
	<string>uni0e_9a_.glif</string>
	<key>uni0E9B</key>
	<string>uni0e_9b_.glif</string>
	<key>uni0E9C</key>
	<string>uni0e_9c_.glif</string>
	<key>uni0E9D</key>
	<string>uni0e_9d_.glif</string>
	<key>uni0E9E</key>
	<string>uni0e_9e_.glif</string>
	<key>uni0E9F</key>
	<string>uni0e_9f_.glif</string>
	<key>uni0EA1</key>
	<string>uni0e_a_1.glif</string>
	<key>uni0EA2</key>
	<string>uni0e_a_2.glif</string>
	<key>uni0EA3</key>
	<string>uni0e_a_3.glif</string>
	<key>uni0EA5</key>
	<string>uni0e_a_5.glif</string>
	<key>uni0EA7</key>
	<string>uni0e_a_7.glif</string>
	<key>uni0EAA</key>
	<string>uni0e_a_a_.glif</string>
	<key>uni0EAB</key>
	<string>uni0e_a_b_.glif</string>
	<key>uni0EAD</key>
	<string>uni0e_a_d_.glif</string>
	<key>uni0EAE</key>
	<string>uni0e_a_e_.glif</string>
	<key>uni0EAF</key>
	<string>uni0e_a_f_.glif</string>
	<key>uni0EB0</key>
	<string>uni0e_b_0.glif</string>
	<key>uni0EB1</key>
	<string>uni0e_b_1.glif</string>
	<key>uni0EB2</key>
	<string>uni0e_b_2.glif</string>
	<key>uni0EB3</key>
	<string>uni0e_b_3.glif</string>
	<key>uni0EB4</key>
	<string>uni0e_b_4.glif</string>
	<key>uni0EB5</key>
	<string>uni0e_b_5.glif</string>
	<key>uni0EB6</key>
	<string>uni0e_b_6.glif</string>
	<key>uni0EB7</key>
	<string>uni0e_b_7.glif</string>
	<key>uni0EB8</key>
	<string>uni0e_b_8.glif</string>
	<key>uni0EB9</key>
	<string>uni0e_b_9.glif</string>
	<key>uni0EBB</key>
	<string>uni0e_b_b_.glif</string>
	<key>uni0EBC</key>
	<string>uni0e_b_c_.glif</string>
	<key>uni0EBD</key>
	<string>uni0e_b_d_.glif</string>
	<key>uni0EC0</key>
	<string>uni0e_c_0.glif</string>
	<key>uni0EC1</key>
	<string>uni0e_c_1.glif</string>
	<key>uni0EC2</key>
	<string>uni0e_c_2.glif</string>
	<key>uni0EC3</key>
	<string>uni0e_c_3.glif</string>
	<key>uni0EC4</key>
	<string>uni0e_c_4.glif</string>
	<key>uni0EC6</key>
	<string>uni0e_c_6.glif</string>
	<key>uni0EC8</key>
	<string>uni0e_c_8.glif</string>
	<key>uni0EC9</key>
	<string>uni0e_c_9.glif</string>
	<key>uni0ECA</key>
	<string>uni0e_c_a_.glif</string>
	<key>uni0ECB</key>
	<string>uni0e_c_b_.glif</string>
	<key>uni0ECC</key>
	<string>uni0e_c_c_.glif</string>
	<key>uni0ECD</key>
	<string>uni0e_c_d_.glif</string>
	<key>uni0ED0</key>
	<string>uni0e_d_0.glif</string>
	<key>uni0ED1</key>
	<string>uni0e_d_1.glif</string>
	<key>uni0ED2</key>
	<string>uni0e_d_2.glif</string>
	<key>uni0ED3</key>
	<string>uni0e_d_3.glif</string>
	<key>uni0ED4</key>
	<string>uni0e_d_4.glif</string>
	<key>uni0ED5</key>
	<string>uni0e_d_5.glif</string>
	<key>uni0ED6</key>
	<string>uni0e_d_6.glif</string>
	<key>uni0ED7</key>
	<string>uni0e_d_7.glif</string>
	<key>uni0ED8</key>
	<string>uni0e_d_8.glif</string>
	<key>uni0ED9</key>
	<string>uni0e_d_9.glif</string>
	<key>uni0EDC</key>
	<string>uni0e_d_c_.glif</string>
	<key>uni0EDD</key>
	<string>uni0e_d_d_.glif</string>
	<key>uni200B</key>
	<string>uni200b_.glif</string>
	<key>afii61664</key>
	<string>afii61664.glif</string>
	<key>afii301</key>
	<string>afii301.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>Euro</key>
	<string>e_uro.glif</string>
	<key>uni20AD</key>
	<string>uni20a_d_.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>uni25CC</key>
	<string>uni25c_c_.glif</string>
	<key>uniE002</key>
	<string>unie_002.glif</string>
	<key>uniE003</key>
	<string>unie_003.glif</string>
	<key>uniE004</key>
	<string>unie_004.glif</string>
	<key>uniE005</key>
	<string>unie_005.glif</string>
	<key>uniE006</key>
	<string>unie_006.glif</string>
	<key>uniE007</key>
	<string>unie_007.glif</string>
	<key>uniE008</key>
	<string>unie_008.glif</string>
	<key>uniE009</key>
	<string>unie_009.glif</string>
	<key>uniE00A</key>
	<string>unie_00a_.glif</string>
	<key>uniE00B</key>
	<string>unie_00b_.glif</string>
	<key>uniE00C</key>
	<string>unie_00c_.glif</string>
	<key>uniE00D</key>
	<string>unie_00d_.glif</string>
	<key>uniE00E</key>
	<string>unie_00e_.glif</string>
	<key>uniE00F</key>
	<string>unie_00f_.glif</string>
	<key>uniE010</key>
	<string>unie_010.glif</string>
	<key>uniE011</key>
	<string>unie_011.glif</string>
	<key>uniE012</key>
	<string>unie_012.glif</string>
	<key>uniE013</key>
	<string>unie_013.glif</string>
	<key>uniE014</key>
	<string>unie_014.glif</string>
	<key>uniE015</key>
	<string>unie_015.glif</string>
	<key>uniE016</key>
	<string>unie_016.glif</string>
	<key>uniE017</key>
	<string>unie_017.glif</string>
	<key>uniE018</key>
	<string>unie_018.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>asciicircum.001</key>
	<string>asciicircum.001.glif</string>
	<key>uni0EB1_uni0EC8</key>
	<string>uni0e_b_1_uni0e_c_8.glif</string>
	<key>uni0EB4_uni0EC8</key>
	<string>uni0e_b_4_uni0e_c_8.glif</string>
	<key>uni0EB6_uni0EC8</key>
	<string>uni0e_b_6_uni0e_c_8.glif</string>
	<key>uni0EB5_uni0EC8</key>
	<string>uni0e_b_5_uni0e_c_8.glif</string>
	<key>uni0EB7_uni0EC8</key>
	<string>uni0e_b_7_uni0e_c_8.glif</string>
	<key>uni0EBB_uni0EC8</key>
	<string>uni0e_b_b__uni0e_c_8.glif</string>
	<key>uni0ECC_uni0EC8</key>
	<string>uni0e_c_c__uni0e_c_8.glif</string>
	<key>uni0ECD_uni0EC8</key>
	<string>uni0e_c_d__uni0e_c_8.glif</string>
	<key>uni0EB1_uni0EC9</key>
	<string>uni0e_b_1_uni0e_c_9.glif</string>
	<key>uni0EB4_uni0EC9</key>
	<string>uni0e_b_4_uni0e_c_9.glif</string>
	<key>uni0EB6_uni0EC9</key>
	<string>uni0e_b_6_uni0e_c_9.glif</string>
	<key>uni0EB5_uni0EC9</key>
	<string>uni0e_b_5_uni0e_c_9.glif</string>
	<key>uni0EB7_uni0EC9</key>
	<string>uni0e_b_7_uni0e_c_9.glif</string>
	<key>uni0EBB_uni0EC9</key>
	<string>uni0e_b_b__uni0e_c_9.glif</string>
	<key>uni0ECC_uni0EC9</key>
	<string>uni0e_c_c__uni0e_c_9.glif</string>
	<key>uni0ECD_uni0EC9</key>
	<string>uni0e_c_d__uni0e_c_9.glif</string>
	<key>uni0EB1_uni0ECA</key>
	<string>uni0e_b_1_uni0e_c_a_.glif</string>
	<key>uni0EB4_uni0ECA</key>
	<string>uni0e_b_4_uni0e_c_a_.glif</string>
	<key>uni0EB6_uni0ECA</key>
	<string>uni0e_b_6_uni0e_c_a_.glif</string>
	<key>uni0EB5_uni0ECA</key>
	<string>uni0e_b_5_uni0e_c_a_.glif</string>
	<key>uni0EB7_uni0ECA</key>
	<string>uni0e_b_7_uni0e_c_a_.glif</string>
	<key>uni0EBB_uni0ECA</key>
	<string>uni0e_b_b__uni0e_c_a_.glif</string>
	<key>uni0ECC_uni0ECA</key>
	<string>uni0e_c_c__uni0e_c_a_.glif</string>
	<key>uni0ECD_uni0ECA</key>
	<string>uni0e_c_d__uni0e_c_a_.glif</string>
	<key>uni0EB1_uni0ECB</key>
	<string>uni0e_b_1_uni0e_c_b_.glif</string>
	<key>uni0EB4_uni0ECB</key>
	<string>uni0e_b_4_uni0e_c_b_.glif</string>
	<key>uni0EB6_uni0ECB</key>
	<string>uni0e_b_6_uni0e_c_b_.glif</string>
	<key>uni0EB5_uni0ECB</key>
	<string>uni0e_b_5_uni0e_c_b_.glif</string>
	<key>uni0EB7_uni0ECB</key>
	<string>uni0e_b_7_uni0e_c_b_.glif</string>
	<key>uni0EBB_uni0ECB</key>
	<string>uni0e_b_b__uni0e_c_b_.glif</string>
	<key>uni0ECC_uni0ECB</key>
	<string>uni0e_c_c__uni0e_c_b_.glif</string>
	<key>uni0ECD_uni0ECB</key>
	<string>uni0e_c_d__uni0e_c_b_.glif</string>
	<key>uni0ECD_uni0EB2</key>
	<string>uni0e_c_d__uni0e_b_2.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>Abreve</key>
	<string>a_breve.glif</string>
	<key>Amacron</key>
	<string>a_macron.glif</string>
	<key>Aogonek</key>
	<string>a_ogonek.glif</string>
	<key>Cacute</key>
	<string>c_acute.glif</string>
	<key>Ccaron</key>
	<string>c_caron.glif</string>
	<key>Ccircumflex</key>
	<string>c_circumflex.glif</string>
	<key>Emacron</key>
	<string>e_macron.glif</string>
	<key>Eogonek</key>
	<string>e_ogonek.glif</string>
	<key>Gcedilla</key>
	<string>g_cedilla.glif</string>
	<key>Imacron</key>
	<string>i_macron.glif</string>
	<key>Iogonek</key>
	<string>i_ogonek.glif</string>
	<key>Itilde</key>
	<string>i_tilde.glif</string>
	<key>Jcircumflex</key>
	<string>j_circumflex.glif</string>
	<key>Nacute</key>
	<string>n_acute.glif</string>
	<key>Racute</key>
	<string>r_acute.glif</string>
	<key>Rcaron</key>
	<string>r_caron.glif</string>
	<key>Rcommaaccent</key>
	<string>r_commaaccent.glif</string>
	<key>Sacute</key>
	<string>s_acute.glif</string>
	<key>Umacron</key>
	<string>u_macron.glif</string>
	<key>Uogonek</key>
	<string>u_ogonek.glif</string>
	<key>Zacute</key>
	<string>z_acute.glif</string>
	<key>Zdotaccent</key>
	<string>z_dotaccent.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>gcedilla</key>
	<string>gcedilla.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
    </dict>
</plist>
